// @import "primeng/resources/themes/lara-dark-blue/theme.css";
// @import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: radial-gradient(circle at top left, #111827 0, #020617 55%, #000 100%);
  color: #e5e7eb;
}
